<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodHub API</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        background-color: #fff;
        text-align: center;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .guide{
    }
    .guide-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    table {
        border: 1px solid #000;
        text-align: left;
        margin: auto;
        padding: 10px;
    }
</style>
<body>
    {{{body}}}
</body>
</html>