<div class="container">
    <div class="title">
        Welcome To FoodHub API
    </div>

    <div class="guide">
        <div class="guide-title">
            To use our api endpoints
        </div>
        <div class="guide-endpoints">
            <table>
                <tr>
                    <th>HTTP VERB</th>
                    <th>ENDPOINT</th>
                    <th>FUNCTIONALITY</th>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>api/v1/meals/</td>
                    <td>Caterers can get all meals options they uploaded</td>
                </tr>
                <tr>
                    <td>GET BY ID</td>
                    <td>api/v1/meals/:mealId</td>
                    <td>Caterers can get meal by Id</td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>api/v1/meals/</td>
                    <td>Catereres can add meal options linked to their account</td>
                </tr>
                <tr>
                    <td>PUT</td>
                    <td>api/vi/meals/:mealId</td>
                    <td>Caterers can update their meal options</td>
                </tr>
                <tr>
                    <td>DELETE</td>
                    <td>api/v1/meals/:mealId</td>
                    <td>Caterers can delete their meal options</td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>api/v1/menus/</td>
                    <td>Caterers and Users can Get the menu for the day </td>
                </tr>
                <tr>
                    <td>GET BY ID</td>
                    <td>api/v1/menus/:menusId</td>
                    <td>Caterers can get menu by Id</td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>api/v1/menus/</td>
                    <td>Caterers can Set a menu for the day</td>
                </tr>
                <tr>
                    <td>PUT</td>
                    <td>api/vi/menus/:menusId</td>
                    <td>Caterers can update their menu of the day</td>
                </tr>
                <tr>
                    <td>DELETE</td>
                    <td>api/v1/menus/:menusId</td>
                    <td>Caterers can delete their menu of the day</td>
                </tr>
                <tr>
                <tr>
                    <td>GET</td>
                    <td>api/v1/orders</td>
                    <td>Get All Orders</td>
                </tr>
                <tr>
                    <td>GET BY ID</td>
                    <td>api/v1/orders/:orderId</td>
                    <td>Get Order by Id</td>
                </tr>
                <tr>
                    <td>POST</td>
                    <td>api/v1/orders</td>
                    <td>Users can make orders</td>
                </tr>
                <tr>
                    <td>PUT</td>
                    <td>api/v1/orders/:orderId</td>
                    <td>Caterers/Users can modify their orders</td>
                </tr>
                <tr>
                    <td>DELETE</td>
                    <td>api/v1/orders/:deleteId</td>
                    <td>Caterers/Users can delete their orders</td>
                </tr>
                <tr>
                    <td>Login POST</td>
                    <td>api/login</td>
                    <td>To login user</td>
                </tr>
                <tr>
                    <td>Register POST</td>
                    <td>api/register</td>
                    <td>To Register new user</td>
                </tr>
            </table>

        </div>
    </div>
</div>